<!DOCTYPE html>
<html>
  <head>
    <title>Tweetable</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <header>
    <%if user_signed_in? %>
      <ul class="dropdown-menu">
        <li><span>Thanks for using Tweetable!</span></li>
        <li><%= link_to "Profile", users_path, class: "link" %>
        <li><%= link_to 'LOG OUT', destroy_user_session_path, data: {turbo_method: :delete}, class: "button" %></li>
      </ul>
    <%else%>
      <ul class="dropdown-menu">
        <li><%= link_to "Sign in", new_user_session_path%></li>
        <li><%= link_to "Sign up", user_session_path%></li>
      </ul>
    <%end%>
    </header>
    <%= yield %>
  </body>
</html>
